.container
  .row
    #myPhoto.col-sm-5.col-xs-12
      img(src="assets/photo-white.png")
    .col-sm-6.col-sm-offset-1.col-xs-12
      h2 Web developer
      p I am #[strong Mechanical Engineer] by training, and I have self-studied programming for 2 years. During my Engineering studies I learned the very basics of #[strong C], and I also had to program in #[strong Matlab].
      p I started learning #[strong Java] as a hobby in 2014, and by 2015 I created some apps just for fun and learning the #[strong Android framework]. After some months working with Android, I realized that I wanted my work to be accessible from any device, so I jumped to #[strong Web development]. I've been learning all I could put my hands on since June '16, and I feel like the time has come to start working in Tech.

  .row
    .col-sm-6.col-xs-12
      h2 Tech stack
      p I feel comfortable working with #[strong JavaScript] using #[strong jQuery] and #[strong React], but I also enjoy the #[strong UI/UX] part of any project using #[strong HTML5] and #[strong CSS3], and #[strong SASS] as preprocessor. For the back-end I'm learning #[strong Node.js], and I am eager to start with #[strong.future MongoDB] and #[strong.future Angular.js]
      p Besides Web development, I have a competent level of #[strong Java] and #[strong Python], and I'm interested in #[strong.future Ruby] and #[strong.future Go]. I am currently improving my #[strong Algorithmic] and #[strong Data Structure] skills through MOOCs, because I think it is essential knowledge for any programmer. In the future I will enroll #[strong.future Machine Learning] and #[strong.future Big Data] MOOCs, as I think the potential of those technologies is huge even for fields not directly related with Computer Sciences.
      p.small Note that #[strong these] are technologies I can use, while #[strong.future these] are technologies I want to learn.
    .col-sm-6.col-sm-offset-1.col-logos.hidden-xs
      .row-logos
        include assets/logos/html5.svg
        include assets/logos/css3.svg
        include assets/logos/js.svg
        include assets/logos/jquery.svg
        include assets/logos/node.svg
        include assets/logos/react.svg
        include assets/logos/sass.svg
        include assets/logos/java.svg
        include assets/logos/python.svg
      