doctype html
html(lang="en")
  head
    title My portfolio
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(href='public/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
    script(src='public/jquery/dist/jquery.min.js')
    script(src="public/bootstrap/dist/js/bootstrap.min.js")
    script(src="https://use.fontawesome.com/1174364321.js")
    script(src='js/index.js')
    script(src='js/navbar.js')
    script(src='js/form.js')
    script(src='js/portfolio.js')
  body

    .far
      .bg

    .front
      .container-fluid
        .view-through
          include assets/svg/logo.svg
          .nav-wrapper
            nav.navbar
              .container-fluid
                .navbar-header
                  a.navbar-brand(href="#")
                    include assets/svg/logo-sm-v2.svg
                button.collapsed.navbar-toggle.navbar-right(type="button", data-toggle="collapse", data-target="#navbar-list", aria-expanded="false")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                ul#navbar-list.nav.navbar-nav.navbar-right.collapse.navbar-collapse
                  li
                    a.navlink.nolink(href="#about") about
                  li 
                    a.navlink.nolink(href="#portfolio") portfolio
                  li 
                    a.navlink.nolink(href="#contact") contact
            .nav-bg

        .main-content
          .section#about
            include about.pug

          .section#portfolio
            include portfolio.pug

          .section#contact
            include contact.pug
            //- TODO cambiar el tab-index del botón de enviar

    include assets/svg/filterShadow.svg