.container-fluid
  h1 Recent Projects
  .grid
    .p-item
      .cover.cover-red
        h1 Game of Life
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/XKOZQv" target="_blank") #[img(src="assets/projects/gameoflife_framed.png")]
        .description
          h3 Summary
          p A FreeCodeCamp project implementing the mathematical "Game of Life" created by Conway.
          p #[strong Technologies]: Reactjs, Sass, HTML5, Babel
          
          h3 User Stories
          p There were some User Stories that had to be included in the web, according to the #[a(href="https://www.freecodecamp.com/challenges/build-the-game-of-life" target="_blank") project's instructions]:
          ol
            li When I first arrive at the game, it will randomly generate a board and start playing.
            li I can start and stop the board.
            li I can set up the board.
            li I can clear the board.
            li When I press start, the game will play out.
            li Each time the board changes, I can see how many generations have gone by.
          
          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/jAdmpp" target="_blank") Version 1]. Finished: Aug 14, 2016
            li #[a(href="http://s.codepen.io/dangonrei/debug/XKOZQv" target="_blank") Version 2]. Finished: Aug 15, 2016. Added visualization options to change colors.

    .p-item
      .cover.cover-cyan
        h1 Recipe Box
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/AXmAzX" target="_blank") #[img(src="assets/projects/recipe_framed.png")]
          
        .description
          h3 Recipe Box
          p A FreeCodeCamp project of a recipe box. Recipes can be modified or deleted, and they are stored at the user's browser.
          p #[strong Technologies]: Reactjs, Sass, HTML5, Babel
          
          h3 User Stories
          ol
            li I can create recipes that have names and ingredients.
            li I can see an index view where the names of all the recipes are visible.
            li I can click into any of those recipes to view it.
            li I can edit these recipes.
            li I can delete these recipes.
            li All new recipes I add are saved in my browser's local storage. If I refresh the page, these recipes will still be there.

          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/AXmAzX" target="_blank") Version 1]. Finished: Aug 12, 2016

    .p-item
      .cover.cover-mag
        h1 Leaderboard
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/wWxPrW" target="_blank") #[img(src="assets/projects/leaderboard_framed.png")]
          
        .description
          h3 Leaderboard
          p A leaderboard for showing FreeCodeCamp contributors both in the last 30 days and all time.
          p #[strong Technologies]: API, Reactjs, Sass, HTML5, Babel

          h3 User Stories
          ol
            li I can see a table of the Free Code Camp campers who've earned the most brownie points in the past 30 days.
            li I can see how many brownie points they've earned in the past 30 days, and how many they've earned total.
            li I can toggle between sorting the list by how many brownie points they've earned in the past 30 days and by how many brownie points they've earned total.

          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/wWxPrW" target="_blank") Version 1]. Finished: Jul 31, 2016

    .p-item
      .cover.cover-green
        h1 MarkDown Previewer
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/PzavNg" target="_blank") #[img(src="assets/projects/mdPreviewer_framed.png")]
          
        .description
          h3 MarkDown Previewer
          p A FreeCodeCamp project of a MarkDown previewer. The app receives the markdown code as input and shows as output the formatted html code.
          p #[strong Technologies]: Reactjs, Sass, HTML5, Babel

          h3 User Stories
          ol
            li I can type GitHub-flavored Markdown into a text area.
            li I can see a preview of the output of my markdown that is updated as I type.

          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/PzavNg" target="_blank") Version 1]. Finished: Jul 29, 2016

    .p-item
      .cover.cover-cyan
        h1 Simon Game
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/OXxqEJ" target="_blank") #[img(src="assets/projects/simon_framed.png")]
          
        .description
          h3 Simon Game
          p A FreeCodeCamp project implementing the classic "Simon Game". It simulates the real device and can be played online.
          p #[strong Technologies]: CSS3, HTML5

          h3 User Stories
          ol
            li I am presented with a random series of button presses.
            li Each time I input a series of button presses correctly, I see the same series of button presses but with an additional step.
            li I hear a sound that corresponds to each button both when the series of button presses plays, and when I personally press a button.
            li If I press the wrong button, I am notified that I have done so, and that series of button presses starts again to remind me of the pattern so I can try again.
            li I can see how many steps are in the current series of button presses.
            li If I want to restart, I can hit a button to do so, and the game will return to a single step.
            li I can play in strict mode where if I get a button press wrong, it notifies me that I have done so, and the game restarts at a new random series of button presses.
            li I can win the game by getting a series of 20 steps correct. I am notified of my victory, then the game starts over.

          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/OXxqEJ" target="_blank") Version 1]. Finished: Jul 14, 2016

    .p-item
      .cover.cover-green
        h1 Tic Tac Toe
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/bZAWLP" target="_blank") #[img(src="assets/projects/tictactoe_framed.png")]
          
        .description
          h3 Tic Tac Toe
          p An implementation of the Tic Tac Toe game. It has a basic AI that won't let the user win, as is the computer.
          p #[strong Technologies]: Reactjs, Sass, HTML5, Babel

          h3 User Stories
          ol
            li I can play a game of Tic Tac Toe with the computer.
            li My game will reset as soon as it's over so I can play again.
            li I can choose whether I want to play as X or O.          

          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/bZAWLP" target="_blank") Version 1]. Finished: Jul 10, 2016

    .p-item
      .cover.cover-red
        h1 Calculator
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/qNjXqb" target="_blank") #[img(src="assets/projects/calculator_framed.png")]
          
        .description
          h3 Calculator
          p A digital version of a real, functional calculator.
          p #[strong Technologies]: CSS3, HTML5

          h3 User Stories
          ol
            li I can add, subtract, multiply and divide two numbers.
            li I can clear the input field with a clear button.
            li I can keep chaining mathematical operations together until I hit the equal button, and the calculator will tell me the correct output.

          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/qNjXqb" target="_blank") Version 1]. Finished: Jul 5, 2016

    .p-item
      .cover.cover-mag
        h1 Random Quote Machine
      .info
        .img-wrapper
          a(href="http://s.codepen.io/dangonrei/debug/PzGxmd" target="_blank") #[img(src="assets/projects/quotes_framed.png")]
          
        .description
          h3 Random Quote Machine
          p A FreeCodeCamp project where you can see random quotes. I designed the 'bouble quote' concept, which is a bouble that shows a quote on click. You can also click the play button to show another quote, or the 'tweet' button to tweet the quote being displayed. This was my first project using JS, just one week after I started learning web development.
          p #[strong Technologies]: API, CSS3, HTML5

          h3 User Stories
          ol
            li I can click a button to show me a new random quote.
            li I can press a button to tweet out a quote.

          h3 Links
          ul
            li #[a(href="http://s.codepen.io/dangonrei/debug/PzGxmd" target="_blank") Version 1]. Finished: Jun 23, 2016

#modal-wrapper   
  #modal-bg
  #p-modal.p-item